.timeline {
  display: flex;
  align-items: center;
  scroll-behavior: smooth;
  overflow: hidden;
  touch-action: pan-x;
  position: relative;
  padding-top: 45px;

  //&:before,
  //&:after {
  //    content: '';
  //    width: 90px;
  //    height: 100%;
  //    position: absolute;
  //    top: 0;
  //    z-index: 1;
  //}
  //
  //&:before {
  //    left: 0;
  //    background: linear-gradient(90deg, rgba(241, 241, 241, 0.9), transparent);
  //}
  //
  //&:after {
  //    right: 0;
  //    background: linear-gradient(90deg, transparent, rgba(241, 241, 241, 0.9));
  //}

  &__content,
  &__year,
  &__month {
    display: flex;
    align-items: center;
    position: relative;
    flex-grow: 1;
    flex-shrink: 0;
  }

  &__year,
  &__month {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__year-header,
  &__month-header {
    position: absolute;
    top: -45px;
    left: 0;
    border-radius: 15px;
    background-color: #fff;
    padding: 5px 10px;
    transition: left .2s ease;
  }
}
